PORT=8001
MONGO_URI=mongodb://localhost:27017/dastbadast
NODE_ENV=development
JWT_SECRET=9d4bd22a9e291916b6dd8f48058120c92156e458389570c2cf042f9824608ddb
# Сгенерируйте свой: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"