# В Expo Go URL подставляется автоматически (IP Mac из Metro)
# EXPO_PUBLIC_API_URL=http://localhost:8001
EXPO_PUBLIC_WS_URL=ws://localhost:8001


EXPO_PUBLIC_API_URL=BI03mp5FWec7kPri5hCzWvDmA-NHFd_u1DQ4B-LQTbSgVJiPoPQ7BwOwq8MD2tgOcUS-ZaTIU5t7Y59F4gIrjdk